
.front-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: #333;
    font-family: Arial, sans-serif;
}

h2{
    margin-bottom: -30px;
    color: #FFF;
}

.card{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    align-items: center;
}

.card input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.card button{
    width: 100%;
    padding: 12px;
    background-color: #f2d935;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.card button:hover {
    background-color: #f2c000;
}

.card-buttons {
    display: flex;
    gap: 10px;
    width: 100%;
}


.front-container button {
    color: black;
    background: #f2d935;
}

.room-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.room-button {
    width: 100%;
    padding: 12px;
    background-color: #f2d935;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: 10px;
}

.room-button:hover {
    background-color: #f2c000;
}